.about {
  background-image: url("../../img/aboutBg.png");
  background-repeat: no-repeat;
  background-position: center 160px;
}

.about__wrapper {
  max-width: 870px;
  margin: 0 auto;
  text-align: center;
}

.about h2 {
  color: $heading-text-color;
  font-family: $heading-font-stack;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.225;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin: 0 0 24px 0;

  @media (max-width: $mobile-width) {
    font-size: 32px;
  }
}

.about p {
  max-width: 720px;
  margin: 0 auto 48px auto;
  font-size: 17px;
  line-height: 1.7;

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 1.6;
    text-align: start;
    padding: 0 16px;
  }
}

.about__video {
  position: relative;
  min-height: 460px;
  background-image: url("../../img/photo_about.png");
  background-repeat: no-repeat;

  @media (max-width: $mobile-width) {
    min-height: 224px;
    background-image: url("../../img/photo_about-mobile.png");
    background-position: center 0;
  }
}

.about__video-link {
  position: absolute;
  display: block;
  padding: 22px 23px 22px 27px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 64px;
  height: 64px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 16px rgba(255, 255, 255, 0.32);

  @media (max-width: $mobile-width) {
    width: 53.33px;
    height: 53.33px;
    padding: 18.33px 18.33px 19.17px 22.5px;
    box-shadow: 0 0 0 13.33px rgba(255, 255, 255, 0.32);
  }
}

.about__video-link svg {
  @media (max-width: $mobile-width) {
    width: 12.5px;
    height: 15.83px;
  }
}
