.button {
  display: block;
  border: none;
  background: $gradient;
  min-width: 181px;
  min-height: 48px;
  padding: 15px 12px 14px 12px;
  border-radius: 60px;

  font-family: $font-stack;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  cursor: pointer;

  &:hover {
    background: linear-gradient(143.55deg, #ffc341 -50.3%, #ffd701 63.1%);
  }

  &:active {
    background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(143.55deg, $gradient -50.3%, #ffd701 63.1%);
  }
}
