.details {
  padding: 83px 0 72px 110px;
  background-image: url("../img/map.jpg"), url("../img/detailsBg.webp");
  background-repeat: no-repeat;
  background-position: 102% 90px, 0 -5px;
  margin-bottom: 0;

  @media (max-width: "1288px") {
    background-image: url("../img/map-mobile.jpg");
    background-position: 100% 90px;
    margin-bottom: 64px;
  }

  @media (max-width: "960px") {
    background-image: none;
  }

  @media (max-width: $mobile-width) {
    padding: 70px 0 0 0;
    background-image: url("../img/map-mobile.png");
    background-position: center 704px;
  }

  h2 {
    color: $heading-text-color;
    font-family: $heading-font-stack;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.225;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin: 0 0 48px 0;

    @media (max-width: $mobile-width) {
      max-width: 320px;
      margin: 0 auto 21px auto;
      font-size: 32px;
      text-align: center;
    }
  }

  p {
    opacity: 0.74;
    line-height: 1.7;
  }
}

.details__wrapper {
  max-width: 520px;
  margin-bottom: 135px;

  @media (max-width: $mobile-width) {
    max-width: initial;
    padding: 0 16px;
    margin: 0 auto;
    min-height: 1078px;
  }
}

.details__wrapper > p {
  max-width: 480px;

  @media (max-width: $mobile-width) {
    max-width: initial;
    padding-right: 8px;
  }

  &:last-of-type {
    br {
      display: none;
    }

    @media (max-width: $mobile-width) {
      min-height: 168px;
      font-size: 16px;
      line-height: 1.6;
    }

    @media (max-width: 320px) {
      br {
        display: block;
      }
    }
  }
}

.details__city {
  position: relative;
  font-size: 15px;
  line-height: 1.5;
  opacity: 0.74;
  padding-left: 22px;
  margin: 0 0 35px 0;

  @media (max-width: $mobile-width) {
    padding-left: 26px;
  }

  a {
    position: relative;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.5;
    border-bottom: 1px dashed $heading-text-color;
    margin-left: 16px;
    color: unset;
    text-decoration: none;
    font-variant: small-caps;
    padding-bottom: 2px;
    transform: translateY(2px);

    &:hover {
      color: $secondary-color;
    }

    &::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 15px;
      right: -30px;
      top: 0;
      bottom: 0;
      margin: auto;
      background-image: url("../img/gps.svg");
      background-repeat: no-repeat;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 18px;
    left: 5px;
    top: 3px;
    background-image: url("../img/marker.svg");
    background-repeat: no-repeat;

    @media (max-width: $mobile-width) {
      left: 10px;
      top: 4px;
    }
  }
}

.details__container {
  display: flex;
  margin-bottom: 32px;

  @media (max-width: $mobile-width) {
    display: block;
  }

  p {
    line-height: 1.5;
  }

  img {
    margin-right: 25px;

    @media (max-width: $mobile-width) {
      margin-bottom: 10px;
      margin-left: -2px;
      margin-top: 2px;
    }
  }

  .socials {
    transform: translateX(-5px);
  }
}

.details__info {
  max-width: 268px;
  font-size: 13px;

  @media (max-width: $mobile-width) {
    max-width: initial;
  }

  p:last-of-type {
    margin: 0 0 12px 0;

    @media (max-width: $mobile-width) {
      min-height: 40px;
    }
  }
}

.details__curator {
  font-size: 15px;
  margin: 2px 0 12px 0;

  span {
    color: $heading-text-color;
    opacity: 1;
    margin-right: 8px;
  }
}

.details__tel {
  position: relative;

  span {
    left: 22px;
    bottom: -26px;

  @media (max-width: 1260px) {
      bottom: -37px;
    }
  }

  &::before {
    content: "";
    width: 110px;
    height: 4px;
    position: absolute;
    bottom: 15px;
    left: 65px;
    background-image: url("../img/input-lines.svg");

    @media (max-width: 1320px) {
      display: none;
    }

    @media (max-width: $mobile-width) {
      display: block;
      bottom: -5px;
    }
  }
}

.details__form {
  max-width: 1142px;
  display: flex;
  align-items: flex-start;

  @media (max-width: $mobile-width) {
    display: block;
    padding: 0 15px;
  }

  small {
    display: block;
    font-size: 13px;
    line-height: 1.5;
    opacity: 0.5;
    max-width: 364px;

    @media (max-width: $mobile-width) {
      margin: 0 0 32px 0;
    }
  }

  p {
    display: block;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 500;
    opacity: 0.87;
    max-width: 328px;
    margin: 0 0 12px 0;

    @media (max-width: $mobile-width) {
      font-size: 16px;
      margin: 0 0 22px 0;
    }
  }

  div:first-child {
    flex: 0 0 364px;
  }

  input {
    width: 250px;
    min-height: 59px;
    padding: 17px 40px 18px 40px;
    border-radius: 80px;
    margin-right: 24px;
    font-family: $font-stack;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    font-variant: small-caps;
    color: #484848;
    opacity: 0.87;
    outline: none;

    @media (max-width: 1267px) {
      flex: initial;
      min-width: 250px;
      margin-bottom: 8px;
    }

    @media (max-width: $mobile-width) {
      width: 100%;
      margin-right: initial;
    }

    // &:not(:placeholder-shown):invalid {
    //   border: 2px solid #ff0000;
    // }

    // &:not(:placeholder-shown):invalid + span {
    //   @media (min-width: $tablet-width) {
    //     display: block;
    //   }
    // }
  }

  .button {
    min-height: 59px;
    padding: 18px 30px 18px 30px;
    flex: 0 0 216px;

    @media (max-width: 1267px) {
      flex: initial;
      min-width: 216px;
      margin-top: 8px;
    }

    @media (max-width: $mobile-width) {
      min-width: 264px;
      margin: 15px auto 0 auto;
    }
  }
}

.details__inputs {
  display: flex;
  margin-top: -5px;
  margin-left: 14px;

  @media (max-width: 1267px) {
    display: block;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
  }
}
