.gallery {
  p {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 21px;
    line-height: 25px;
    color: #ffffff;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);

    @media (max-width: $mobile-width) {
      font-size: 18px;
    }
  }
}

.gallery__photos {
  @include list-reset();
}
