.main-menu {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;

  position: relative;
  padding-top: 48px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1142px;
  margin: 0 auto 12px auto;

  @media (max-width: $mobile-width) {
    padding-top: 20px;
    font-size: 14px;
  }
}

.main-menu a {
  color: unset;
  text-decoration: none;
}

.main-menu__logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 32px;
  margin: auto;
  width: 137px;
  height: 48px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;

  @media (max-width: 767px) {
    right: auto;
    top: 20px;
    left: 15px;
    width: 120px;
    height: 42px;
  }
}

.main-menu__list {
  @include list-reset();
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    display: block;
    text-align: right;
  }
}

.main-menu__item--call {
  font-variant: small-caps;
  border-bottom: 1px dashed currentColor;

  @media (max-width: $mobile-width) {
    margin-top: 8px;
    display: inline-block;
  }
}
