.modal {
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  min-height: 521px;
  padding: 56px 72px 40px 48px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  z-index: 10;

  @media (max-width: $mobile-width) {
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    padding: 169px 16px;
  }

  h2 {
    color: $heading-text-color;
    font-family: $heading-font-stack;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.02em;
    margin: 0 0 16px 0;

    @media (max-width: $mobile-width) {
      font-size: 24px;
      text-align: center;
    }
  }

  p {
    font-size: 15px;
    line-height: 1.7;
    opacity: 0.87;
    margin: 0 0 32px 0;

    @media (max-width: $mobile-width) {
      font-size: 14px;
      line-height: 1.6;
      text-align: center;
    }
  }

  .button {
    margin: 16px auto 0 auto;
    width: 264px;
    padding: 19px 20px 20px 20px;
  }
}

.modal__close-button {
  background-color: transparent;
  border: none;
  width: 18px;
  height: 17px;
  position: absolute;
  top: 32px;
  right: 32px;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    top: 24px;
    right: 24px;
  }

  &:hover,
  &:focus {
    outline: 2px solid $secondary-color;
  }
}

.modal--accepted {
  padding: 216px 60px 112px 60px;
  text-align: center;

  &::after {
    content: "";
    width: 71px;
    height: 64px;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url("../img/checkmark.svg");
    background-repeat: no-repeat;

    @media (max-width: $mobile-width) {
      top: 200px;
    }
  }

  @media (max-width: $mobile-width) {
    padding: 295px 16px;
  }
}

.overley {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-image: url("../../img/overleyBg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}


.modal-show {
  display: block;
}

.modal__tel {
  position: relative;
  flex-basis: 100%;

  span {
    display: none;
    position: absolute;
    left: 22px;
    bottom: -12px;
    font-size: 13px;
    line-height: 1.5;

    color: #ff0000;
    opacity: 0.75;
  }

  label {
    position: relative;

    &::before {
      content: "";
      width: 110px;
      height: 4px;
      position: absolute;
      bottom: -5px;
      left: 70px;
      background-image: url("../img/input-lines.svg");
    }
  }
}

.modal__form {
  display: flex;
  flex-wrap: wrap;

  input {
    width: 100%;
    border: 2px solid #e3e3e3;
    border-radius: 80px;
    padding: 17px 40px 18px 40px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    font-variant: small-caps;
    opacity: 0.87;
    outline: none;

    &:focus {
      border: 2px solid #ffc341;
    }

    &:valid {
      border: 2px solid #484848;
    }

    &:not(:placeholder-shown):invalid {
      border: 2px solid #ff0000;
    }

    &:not(:placeholder-shown):invalid + span {
      display: block;
    }
  }

  label[for="agreement"] {
    position: relative;
    max-width: 264px;
    margin: 16px auto 0 auto;
    padding-left: 25px;
    font-size: 13px;
    line-height: 1.5;
    opacity: 0.74;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 16px;
      top: 0;
      left: 0;
      background-image: url("../img/rectangle.svg");
      background-repeat: no-repeat;
    }
  }
}

.modal__form input[type="checkbox"] {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
}

.modal__form input[type="checkbox"]:checked + label::before {
  background-color: $secondary-color;
}

.modal--accepted .button {
  margin: 0 auto;
}

