.page-header {
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
  min-height: 895px;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-position: center 0;

  @media (max-width: 320px) {
    background-image: url("../img/header-mobile.jpg");
    min-height: 632px;
    background-position: center 20px;
  }
}
