.programms {
  background-image: url("../img/programmsSketch.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  padding-top: 48px;
  margin-bottom: 31px;

  @media (max-width: $mobile-width) {
    background-image: url("../img/programmsSketch-mobile.png");
    background-position: 100% 118px;
    padding-top: 0;
    margin-bottom: 18px;
  }

  h2 {
    color: $heading-text-color;
    font-family: $heading-font-stack;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.225;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin: 0 0 83px 0;

    @media (max-width: $mobile-width) {
      text-align: center;
      font-size: 32px;
      margin: 0 0 16px 0;
    }
  }

  h3 {
    color: $heading-text-color;
    font-family: $heading-font-stack;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.214;
    letter-spacing: -0.02em;
    margin: 0 0 24px 0;
  }

  p {
    font-size: 15px;
    line-height: 1.7;
    opacity: 0.87;

    @media (max-width: $mobile-width) {
      font-size: 14px;
      line-height: 1.6;
    }
  }
}

.programms__wrapper {
  max-width: 852px;
  margin-left: 15%;

  @media (max-width: $mobile-width) {
    margin-left: 0;
  }
}

.programms__container {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.programms__tabs {
  @include list-reset();
  flex-basis: 25%;

  @media (max-width: $mobile-width) {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 32px;
  }
}

.programms__tab {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-family: $font-stack;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.2;
  color: #484848;
  opacity: 0.87;
  padding: 25px 41px 24px 72px;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    padding: 15px 12px 14px 47px;
  }

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    top: 16px;

    @media (max-width: $mobile-width) {
      top: 8px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -34px;
    width: 0;
    height: 0;
    border: 34px solid white;
    border-left-color: transparent;

    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  &--culture::before {
    background-image: url("../img/culture.png");
    width: 28px;
    height: 33px;
    left: 22px;

    @media (max-width: $mobile-width) {
      width: 32px;
      height: 32px;
      left: 12px;
      background-size: contain;
    }
  }

  &--study::before {
    width: 36px;
    height: 35px;
    background-image: url("../img/study.png");
    left: 20px;

    @media (max-width: $mobile-width) {
      width: 32px;
      height: 32px;
      left: 12px;
      background-size: contain;
    }
  }

  &--business::before {
    width: 32px;
    height: 25px;
    background-image: url("../img/business.png");
    left: 21px;
    top: 18px;

    @media (max-width: $mobile-width) {
      width: 32px;
      height: 32px;
      top: 8px;
      left: 12px;
      background-size: contain;
    }
  }

  &--volonteur::before {
    width: 32px;
    height: 29px;
    background-image: url("../img/volonteur.png");
    left: 21px;

    @media (max-width: $mobile-width) {
      width: 32px;
      height: 32px;
      left: 12px;
      background-size: contain;
    }
  }

  &--religion::before {
    width: 23px;
    height: 25px;
    background-image: url("../img/religion.png");
    top: 18px;
    left: 25px;

    @media (max-width: $mobile-width) {
      width: 32px;
      height: 32px;
      top: 8px;
      left: 12px;
      background-size: contain;
    }
  }

  &:not(.programms__tab--active):hover {
    color: $secondary-color;
  }

  &--active {
    background-image: $gradient;
    width: 228px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);

    @media (max-width: $mobile-width) {
      width: 181px;
      min-height: 48px;
      border-radius: 60px;
    }
  }
}

.programms__tab--culture:not(.programms__tab--active):hover::before {
  background-image: url("../img/culture-hover.png");
}

.programms__tab--study:not(.programms__tab--active):hover::before {
  background-image: url("../img/study-hover.png");
}

.programms__tab--business:not(.programms__tab--active):hover::before {
  background-image: url("../img/business-hover.png");
}

.programms__tab--volonteur:not(.programms__tab--active):hover::before {
  background-image: url("../img/volonteur-hover.png");
}

.programms__tab--religion:not(.programms__tab--active):hover::before {
  background-image: url("../img/religion-hover.png");
}

.programms__tab--culture.programms__tab--active::before {
  background-image: url("../img/culture-active.png");
}

.programms__tab--study.programms__tab--active::before {
  background-image: url("../img/study-active.png");
}

.programms__tab--business.programms__tab--active::before {
  background-image: url("../img/business-active.png");
}

.programms__tab--volonteur.programms__tab--active::before {
  background-image: url("../img/volonteur-active.png");
}

.programms__tab--religion.programms__tab--active::before {
  background-image: url("../img/religion-active.png");
}

.programms__info {
  flex-basis: 67%;

  @media (max-width: $mobile-width) {
    padding: 0 16px;
  }
}
