.socials {
  @include list-reset();
  display: flex;
  align-items: center;

  a {
    margin: 0;
    color: $primary-color;
    opacity: 0.2;

    &:hover {
      color: $secondary-color;
      opacity: 1;
    }
  }
}


.socials__item:not(:last-child) {
  margin-right: 14px;
}
