html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-family: $font-stack;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #484848;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
}

.overflow-hidden {
  overflow: hidden;
}

input {
  border: 2px solid #e3e3e3;

  &::placeholder {
    opacity: 0.5;
    font-variant: small-caps;
  }

  &:focus {
    border: 2px solid #ffc341;
  }

  &:valid {
    border: 2px solid #484848;
  }
}

.input-error {
  &:valid {
    border: 2px solid #ff0000;
  }
}

.input-error + .error-message {
  display: block;
}

.error-message {
  display: none;
  position: absolute;
  left: 22px;
  bottom: -40px;
  font-size: 13px;
  line-height: 1.5;

  color: #ff0000;
  opacity: 0.75;

  @media (max-width: $mobile-width) {
    top: -40px;
  }
}
