$mobile-width: 767px;
$tablet-width: 1023px;
$font-stack: "Fira Sans", "Arial", sans-serif;
$heading-font-stack: "Montserrat", "Arial", sans-serif;
$primary-color: #484848;
$secondary-color: #ffc341;
$heading-text-color: #1fc0fc;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
